<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu" class="red makeBigger">
    <h1>Liming Zhou's Homepage</h1>
</div>
<div id="main_content">
    <p>
        <span class="red makeBigger"> Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Feugiat in ante metus dictum at tempor commodo ullamcorper a. Viverra tellus in hac habitasse platea
    dictumst. Vehicula ipsum a arcu cursus vitae. Justo laoreet sit amet cursus sit amet dictum. Luctus accumsan tortor
    posuere ac. Dolor sit amet consectetur adipiscing elit duis. Sed cras ornare arcu dui vivamus arcu felis bibendum.
    Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Leo urna molestie at elementum eu facilisis sed odio morbi.
    Interdum velit laoreet id donec ultrices tincidunt. Maecenas pharetra convallis posuere morbi. In tellus integer
    feugiat scelerisque varius morbi enim nunc. Leo a diam sollicitudin tempor id eu. Vitae turpis massa sed elementum.
    </p>
    <p>
        <span class="red makeBigger"> Enim</span> praesent elementum facilisis leo vel. Ut venenatis tellus in metus. Eget nulla facilisi etiam dignissim diam
    quis enim. Id semper risus in hendrerit gravida rutrum quisque non. Nullam ac tortor vitae purus faucibus ornare
    suspendisse sed nisi. Integer quis auctor elit sed. Ut placerat orci nulla pellentesque dignissim enim sit amet
    venenatis. Eget nunc scelerisque viverra mauris. Nullam eget felis eget nunc lobortis mattis. Nisl condimentum id
    venenatis a condimentum vitae sapien pellentesque habitant. Odio aenean sed adipiscing diam donec adipiscing. Ante
    metus dictum at tempor commodo ullamcorper a lacus. Odio aenean sed adipiscing diam donec. Malesuada pellentesque
    elit eget gravida cum sociis natoque. Vel eros donec ac odio tempor orci dapibus ultrices. Habitant morbi tristique
    senectus et netus.
</p>
    <p>
        <span class="red makeBigger">Arcu</span> cursus vitae congue mauris. Rhoncus urna neque viverra justo. Sed viverra tellus in hac habitasse. Egestas
    fringilla phasellus faucibus scelerisque eleifend donec. Senectus et netus et malesuada fames ac turpis egestas
    integer. Eget dolor morbi non arcu risus quis varius quam quisque. Rhoncus urna neque viverra justo nec ultrices dui
    sapien. Enim blandit volutpat maecenas volutpat blandit aliquam. Nunc id cursus metus aliquam. Varius quam quisque
    id diam vel quam elementum. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan.
</p>
    <p>
        <span class="red makeBigger">Phasellus</span> vestibulum lorem sed risus. Malesuada fames ac turpis egestas. Interdum consectetur libero id faucibus
    nisl. Est sit amet facilisis magna etiam. Vitae congue eu consequat ac felis. Eu sem integer vitae justo eget magna
    fermentum. In arcu cursus euismod quis viverra nibh. Id donec ultrices tincidunt arcu non. Ultrices in iaculis nunc
    sed. Aliquam etiam erat velit scelerisque in dictum non consectetur a. Donec ultrices tincidunt arcu non sodales
    neque sodales ut. Nunc sed augue lacus viverra vitae congue eu consequat ac. Sit amet consectetur adipiscing elit
    duis.
</p>
    <p>
        <span class="red makeBigger">Sed</span> vulputate odio ut enim blandit volutpat maecenas. Volutpat ac tincidunt vitae semper quis lectus. Nibh venenatis
    cras sed felis eget. Nunc lobortis mattis aliquam faucibus purus in massa. Egestas purus viverra accumsan in. Et
    tortor at risus viverra adipiscing at in tellus. Elementum curabitur vitae nunc sed velit. Odio eu feugiat pretium
    nibh ipsum consequat. Diam donec adipiscing tristique risus nec feugiat in. Porttitor leo a diam sollicitudin tempor
    id eu. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Est ultricies integer quis
    auctor elit sed vulputate. Scelerisque eu ultrices vitae auctor eu augue ut lectus. Dignissim suspendisse in est
    ante in nibh mauris. Nunc id cursus metus aliquam eleifend. Nunc eget lorem dolor sed viverra ipsum nunc. Ultrices
    vitae auctor eu augue ut lectus arcu bibendum at. Vulputate mi sit amet mauris commodo.
    </p>
</div>
</body>
</html>
